<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Nombre Comun</th>
          <th class="h4">Tipo</th>
          <th class="h4">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of plantas">
          <td>
          <dd><strong>{{ p.id }}</strong></dd>
          </td>
          <td>
            <dd>{{ p.nombre_comun }}</dd>
          </td>
          <td>
            <dd>{{ p.tipo }}</dd>
          </td>
          <td>
            <dd>{{ p.clima }}</dd>
          </td>
        </tr>
        <div>
          <p>Total de plantas de interior: {{ totalInterior }}</p>
          <p>Total de plantas de exterior: {{ totalExterior }}</p>
        </div>
      </tbody>
    </table>
  </div>
</div>